@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-flow: row nowrap;

  header {
    display: flex;
    z-index: 1;
    padding: 5px;
    min-width: 5vw;
    background-color: $primary;
    color: $secondary;
  }

  .main-wrapper {
    display: flex;

    main {
      display: flex;
      flex-flow: row nowrap;
      background-color: $secondary;
      height: 100vh;
      transition: all .5s cubic-bezier(.2, .8, .5, 1);
      transform-origin: 0 0;
      overflow: visible;

      section {
        display: flex;
        flex-flow: row nowrap;
        padding: 20px;
      }
    }
  }
}